.body{
    background-color: #212121;
    color: #ffffff;
    font-family: Arial, sans-serif;
}
.head{
    text-align: center;
}
.heading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.form {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    background-color: rgb(108, 40, 40);
    padding: 10px;
    border-radius: 10px;
  }
.head{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Center vertically */
      
}
.footer{
    position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;

}